

.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    /* max-width: 600px; */
    box-sizing: border-box;
  }
  /* h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  } */
  .variable-width .slick-slide p {
    background: #fff;
    /* height: 600px; */
    color: #3498db;
    margin: 5px;
    line-height: 100px;
    text-align: center;
  }
  .item{
      border: 1px solid red;
  }
  
.item, .slider{
    position: relative;
}
  .slider__content-box{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
  }