:root{
        /* Colors */
        --main-bg-color: #515151;
        --main-text-color: #fefefe;
        --gray-text-color: #515151;
        --gray-bg-slider: #606060;
        --dark-gray-slider: #3F3F3F;
        --green-hover: #178a86;
}