
:root {
  --green-hover: rgba(23, 138, 134, 1);
  
}
.custom-container {
  max-width: 1440px;
  width: auto;
  margin: 0 auto;
}
.custom-content-container{
  max-width: 1261px;
  width: auto;
  margin: 0 auto;
}
.custom-big-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
}
.custom-link-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 112.02%;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
.custom-section-title {
    font-weight: 700;
font-size: 40px;
line-height: 49px;
padding: 0 30px;
  }
.custom-prise-txt {
  font-weight: 600;
  font-size: 32px;
  line-height: 112.02%;
  letter-spacing: -0.05em;
  text-shadow: 3px 0px 3px rgba(201, 201, 201, 0.25);
  margin: 0;
}

.custom-big-txt {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}

.txt-metefilds{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 88.52%;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.smal-txt{
  font-weight: 500;
  font-size: 12px;
  
}
@media (max-width: 1199.98px) {
  .custom-big-title {
    font-size: 35px;
    line-height: 39px;
  }
  .custom-big-txt {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 767.98px) {
  .custom-prise-txt {
    font-weight: 600;
    font-size: 26px;
    line-height: 112.02%;
    letter-spacing: -0.05em;
    text-transform: capitalize;
  }

  .custom-big-txt {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
}
@media (max-width: 575.98px) { 
    .txt-metefilds{
    font-size: 14px;
    line-height: 88.52%;
    letter-spacing: 0.07em;
  }
  .custom-section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    padding: 0 14px;
  }
}

.title_hov:hover{
  color: var(--green-hover); 
  font-weight: bold;
}