
.product-present {
  background: linear-gradient(96.65deg, #5ac0b3 -2.35%, #a6ddbf 103.93%);
}
.product-present__wrap {
  min-height: 440px;
  height: auto;
  color: var(--main-text-color);
  position: relative;
  box-sizing: border-box;
  padding: 80px 60px 0 65px;
}
.product-present__wrap::after {
  content: " ";
  background-image: url("https://cdn.shopify.com/s/files/1/0765/4067/4355/files/Rectangle12.png?v=1684054149");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
 
  width: 100%;
  height: 400px;
  position: absolute;
  top: -67px;
  left: 0;
 
}

.product-present__wrap {
  display: flex;
  flex-direction: row;
}
.product-present__img-box,
.product-present__text-box,
.product-present__bid-img-box {
  z-index: 2;
}
.product-present__img-box,
.product-present__text-box {
  padding-bottom: 30px;
}
.product-present__circle1 {
  width: 325px;
  height: 325px;
  border: 1px solid white;
  border-radius: 50%;
}
.product-present__circle2 {
  width: 291.4px;
  height: 291.4px;
  border: 1px solid white;
  border-radius: 50%;
  margin: auto auto;
  margin-top: 16px;
}
.product-present__circle3 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50%;
  background: linear-gradient(92.47deg, #68b7a8 1.88%, #98d8bd 99.27%);
  transform: matrix(-1, 0.08, 0.08, 1, 0, 0);
  background-image: url("https://cdn.shopify.com/s/files/1/0765/4067/4355/files/Ellipse7.png?v=1684056952");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  z-index: 0;
}
.product-present__img-box {
  position: relative;
  width: 325px;
  height: 325px;
}
.product-present__img {
  display: block;
  position: absolute;
  bottom: 0;
  right: calc(50% - 110px);
  top: calc(50% - 152px);
  margin: 0 auto;
  width: 223.28px;
  height: 304px;
  z-index: 3;
}
.product-present__text-box {
  max-width: 538px;
  width: auto;
  text-align: right;
}

.product-present__link {
  text-decoration: none;
  color: var(--main-text-color);
  margin-bottom: 15px;
}

.product-present__bid-img-box {
  position: relative;
  width: 330px;
  margin-left: auto;
}
.product-present__bid-img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 332.57px;
  height: 568px;
}
.product-present__title {
  margin-bottom: 30px;
}
.product-present__prise {
  margin-top: 12px;
  color: var(--gray-text-color);
}
.product-present__txt {
  margin-top: 20px;
  text-transform: capitalize;
}

.product-present__link:hover {
  cursor: pointer;
  color: var(--gray-text-color);
}
@media (max-width: 1439.98px) {
  .product-present__wrap {
    padding: 80px 20px 0 20px;
  }
  .product-present__bid-img-box {
    width: 300px;
  }
  .product-present__bid-img {
    width: 300px;
  }
}

@media (max-width: 1199.98px) {
  .product-present__text-box {
    max-width: 400px;
  }
  .product-present__wrap {
    padding: 40px 20px 0 20px;
  }
  .product-present__bid-img-box {
    margin-left: 10px;
    width: 230px;
  }
  .product-present__bid-img {
    width: 230px;
    height: 480px;
  }
  .product-present__wrap {
    min-height: 390px;
  }
  .product-present__text-box {
    margin-left: auto;
  }

  .product-present__circle1 {
    width: 300px;
    height: 300px;
  }
  .product-present__circle2 {
    width: 260px;
    height: 260px;

    margin-top: 16px;
  }
  .product-present__circle3 {
    width: 200px;
    height: 200px;
  }
  .product-present__img-box {
    width: 300px;
    height: 300px;
  }
  .product-present__img {
    right: calc(50% - 95px);
    top: calc(50% - 130px);
    width: 190px;
    height: 260px;
  }
  .product-present__title {
    white-space: nowrap;
    float: right;
    margin-bottom: 20px;
    font-size: 32px;
  }
}

@media (max-width: 991.98px) {
  .product-present__bid-img-box {
    display: none;
  }
  .product-present__wrap {
    padding: 40px 60px 0 40px;
  }
  .product-present__wrap::after {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .product-present__wrap {
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .product-present__title {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    float: none;
    width: 100%;
    text-align: center;
    white-space: normal;
  }
  .product-present__img-box {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .product-present__text-box {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
  }
}
@media (max-width: 575.98px) {
  .product-present__img-box {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .product-present__circle1 {
    width: 260px;
    height: 260px;
  }
  .product-present__circle2 {
    width: 220px;
    height: 220px;
    margin-top: 16px;
  }
  .product-present__circle3 {
    width: 190px;
    height: 190px;
  }
  .product-present__img-box {
    width: 260px;
    height: 260px;
  }
  .product-present__img {
    right: calc(50% - 85px);
    top: calc(50% - 115px);
    width: 170px;
    height: 230px;
  }
  .product-present__wrap {
    padding: 40px 10px 0 10px;
  }
}
